doctype html
head
  include ./head.jade
br
section#contact.page-section
  .container
    // Contact Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0= pageHeader.title
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-star
      .divider-custom-line
    // Contact Section Form
    .row
      .col-lg-8.mx-auto
        br
        form(action='' enctype='multipart/form-data' method='post' name='submit')
          .control-group
            .form-group.floating-label-form-group.controls.mb-0.pb-2
              br
              h5 thumbnail image
              input(name='game_file' type='file' required='')
              p.help-block.text-danger
          .control-group
            .form-group.floating-label-form-group.controls.mb-0.pb-2
              h5 html file
              input(name='game_file' type='file' required='')
              p.help-block.text-danger
          .control-group
            .form-group.floating-label-form-group.controls.mb-0.pb-2
              h5 unity file
              input(name='game_file' type='file' required='')
              p.help-block.text-danger
          br
          #success
          .form-group
            button.btn.btn-primary.btn-xl(type='submit') submit

#footer
  include ./footer.jade
