head
  meta(charset='UTF-8')
  title
form(action='' enctype='multipart/form-data' method='post')
  | 1. &#xC378;&#xB124;&#xC77C; : 
  input(type='file' name='game_file' multiple)
  br
  |             2. html &#xD30C;&#xC77C; : 
  input(type='file' name='game_file')
  br
  |             3. &#xAC8C;&#xC784; &#xD30C;&#xC77C; : 
  input(type='file' name='game_file')
  br
  input(type='submit' value='전송')

