head
  meta(charset='UTF-8')
  title
form(action='' enctype = 'multipart/form-data' method='post')
  
  input(type='file' name='game_file' multiple)
  br
  |            
  input(type='submit' value='submit')
