doctype html
head
  include ./head.jade
// Body
br
br
section#portfolio.page-section.portfolio
  .container
    // Portfolio Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0= pageHeader.title
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-star
      .divider-custom-line
    // Portfolio Grid Items
    .row
      -for(var i = 0 ; i < result.length; i++)
        -var passwd = result[i].password;
        -var gameTitle = result[i].game_name;
        -var objectid = result[i].objectid;
        .col-md-6.col-lg-4
          .portfolio-item.mx-auto()
            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
              .portfolio-item-caption-content.text-center.text-white
                h2= gameTitle
                a.btn.btn-primary(href='/play/:' + objectid) Play
            img.img-fluid(src="/fileStorage/" + passwd + "/" + result[i].thumbnail alt='')
            
#footer
  include ./footer.jade
// Plus
script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
