head
  meta(charset='UTF-8')
  title
form(action='' method='post')
  | &#xC774;&#xB984; : 
  input(type='text' name='name')
  br
  |             &#xD559;&#xBC88; : 
  input(type='text' name='id')
  br
  |             &#xC81C;&#xBAA9; : 
  input(type='text' name='game_name')
  br
  |             &#xBE44;&#xBC00;&#xBC88;&#xD638; : 
  input(type='password' name='passwd')
  br
  |             &#xD55C;&#xC904;&#xC18C;&#xAC1C; : 
  input(type='text' name='content')
  br
  |             &#xCCA8;&#xBD80;&#xD30C;&#xC77C; 
  br
<<<<<<< HEAD
  |           
=======
  |             1. html &#xD30C;&#xC77C; : 
  input(type='file' name='game_file_html')
  br
  |             2. 3Dgame &#xD30C;&#xC77C; : 
  input(type='file' name='game_file')
  br
  |             3. &#xC378;&#xB124;&#xC77C; &#xD30C;&#xC77C; : 
  input(type='file' name='game_file_sum')
  br
>>>>>>> 15ff6c3fdced1f9a6e51f85996729c531fc3d73c
  input(type='submit' value='submit')
