head
  meta(charset='UTF-8')
  title
form(action='' method='post')
  | Person1.
  br
  |             &#xC774;&#xB984; : 
  input(type='text' name='name' size='5')
  br
  |             &#xD559;&#xBC88; : 
  input(type='text' name='id' size='5')
  br
  |             Person2.
  br
  |             &#xC774;&#xB984; : 
  input(type='text' name='name' size='5')
  br
  |             &#xD559;&#xBC88; : 
  input(type='text' name='id' size='5')
  br
  |             Person3.
  br
  |             &#xC774;&#xB984; : 
  input(type='text' name='name' size='5')
  br
  |             &#xD559;&#xBC88; : 
  input(type='text' name='id' size='5')
  br
  br
  hr
  br
  |             &#xC81C;&#xBAA9; : 
  input(type='text' name='game_name' size = 10)
  br
  br
  |             &#xBE44;&#xBC00;&#xBC88;&#xD638; : 
  input(type='password' name='passwd' size='5')
  br
  br
  |             &#xD55C;&#xC904;&#xC18C;&#xAC1C; : 
  input(type='text' name='content' style='width:300px;height:200px')
  br
  br
  input(type='submit' value='submit')
